.DS_Store
node_modules

# This plugin is in the version control, because i made a bugfix here.
!node_modules/vue2-leaflet-draw-toolbar

/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# local plugins
/public/lib/
